<nav class="w-full">
  <hr class="my-4 h-0.5 border-t-0 bg-white dark:bg-white" />
  <ol class="list-reset flex text-xl">
    @for (item of names; track item; let i = $index) {
    <li>
      <a
        href="#"
        class="text-white transition duration-150 ease-in-out hover:text-primary-accent-300 focus:text-primary-accent-300 active:text-primary-accent-300 motion-reduce:transition-none dark:text-primary-400"
      >
        {{ item }}
      </a>
    </li>
    @if (i < names.length - 1) {
    <li>
      <span class="mx-4 text-white">/</span>
    </li>
    } } @empty {
    <li>Empty list</li>
    }
  </ol>
  <hr class="my-4 h-0.5 border-t-0 bg-white dark:bg-white" />
</nav>
