<div class="bg-[#9f1239] flex justify-center min-h-screen p-4">
  <div class="flex flex-col w-[65%] gap-2">
    <app-header />
    <div class="flex flex-row gap-4">
      <div class="basis-2/3">
        <app-videos />
      </div>
      <div class="basis-1/3">
        <app-activities />
      </div>
    </div>
    <div class="flex flex-row gap-4">
      <div class="basis-2/3">
        <app-peoples />
      </div>
      <div class="basis-1/3">
        <app-channels />
      </div>
    </div>
    <div class="flex flex-row gap-4">
      <div class="basis-2/3">
        <app-documents />
      </div>
    </div>
    <app-footer />
    <router-outlet />
  </div>
</div>
